.registration{
    background: $color-bg;

    &__conteiner{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;
    }

    &__logo{
        background: $color-electric-purple;
        margin: 0 auto;
        padding: 5px;
        border: 1px solid $color-black;
        border-radius: 999px;
        width: 150px;
        height: 150px;

        @media (max-width:767.9999px) {
            width: 100px;
            height: 100px;
        }
    }

    &__line{
        background: $color-black;
        border: 2px solid $color-purple;
    }

    &__block{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 30px;
    }

    &__svg{
        width: 100px;
        height: 100px;
    }

    &__input-block{
        display: inherit;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__title{
        font-family: $font-oswald;
        font-weight: 700;
        color: $color-white;
    }

    &__input{
        display: flex;
        align-items: center;
        width: 300px;
        border: 2px solid $color-purple;
        border-radius: 5px;
        font-size: $font-md;
        background-image: url('/src/image/email-svgrepo-com.svg');
        background-size: 20px 20px;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 7px 20px 12px 40px;
        transition: width 0.4s ease-in-out;
        cursor: pointer;

        &:hover{
            border: 2px solid $color-turquoise;
        }

    }

    &__input2{
        background-image: url('/src/image/key-password-svgrepo-com.svg');
    }

    &__button{
        font-family: $font-oswald;
        font-size: $font-xl;
        width: 200px;
        height: 40px;
        border: 1px solid $color-purple;
        background: $color-white;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:hover{
            background: $color-purple;
        }
    }
}

