*,*::after,*::before{
    box-sizing: border-box;
}

body{
    margin: 0;

    @media (max-width:767.9999px) {
        .body.lock{
            overflow-x: hidden;
        }
    }
}


h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: $color-black;
}

//conteiners
.conteiner{
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
    @media (min-width:350px) and (max-width:559.9999px) {
        width: 100%;
        padding: 0 10px;
    }

    @media (min-width:560px) and (max-width:767.9999px) {
        width: 100%;
        padding: 0 10px;
    }

    @media (min-width:768px) and (max-width:1023.9999px) {
        width: 100%;
        padding: 0 10px;
    }

    @media (min-width:1024px) and (max-width:1539.9999px) {
        width:100%;
        padding: 0 10px;
    }

    @media (min-width:1540px) and (max-width:1919.9999px) {
        width:100%;
        padding: 0 10px;
    }

    @media (min-width:1920px) and (max-width:2560px) {
        width: 1720px;
    }

}

.custom_conteiner{
    max-width: 1720px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;

    @media (max-width:1539.9999px) {
        padding-left: 10px;
        padding-right: 10px;
    }

    @media (min-width:1540px) and (max-width:1919.9999px) {
        width:1530px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.line{
    width: 100%;
    background: $color-black;
    border: 2px solid $color-purple;
}
